.lists {
  margin-top: 2rem;
  display: flex;
  column-gap: 2rem;
  height: calc(100vh - 5.8rem);
  /* overflow-y: scroll; */
}
.list {
  max-height: 80%;
  min-width: 15rem;
  background-color: rgba(200, 150, 100, 0.5);
  padding: 1rem;
  opacity: 0.9;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
