* {
  margin: 0;
  padding: 0;
}
#root {
  width: 100vw;
  max-width: none;
  background-color: #dff7b9;
  /* background-image: url("https://picsum.photos/1800/1000?blur&grayscale"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
